<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NYT React Article Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



<link rel='stylesheet' type='text/css' href='style.css' />




    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
 
<body>
<div class="container testBG">
    <div class="row">
        <div class="col-md-12">
        <div class="jumbotron text-center">
            <h2>Find Where All Your Drunk Friends Are!</h2>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 className="panel-title text-center">Sign-In</h3>
                </div>
                <div class="panel-body">
                    <form id="signup" name="signup" method="post" action="/signup">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input class="text form-control" name="email" type="email" />
                            <br>
                            <label for="firstname">Firstname</label>
                            <input class="form-control" name="firstname" type="text" />
                            <br>
                            <label for="lastname">Lastname</label>
                            <input class="form-control" name="lastname" type="text" />
                            <br>
                            <label for="password">Password</label>
                            <input class="form-control" name="password" type="password" />
                            <br>
                            <input class="btn btn-primary btn-block text-center" type="submit" value="Sign Up" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
</body>
 
</html>